body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hulai {
  text-align: center;
}

.jumbotron h1 {
  background-color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 12px 0;
}

 .thumbnail {
   background-color: #000;
 }
